.cats {
    background-image: url("../img/bg.png");
    min-height: 100vh;
    color: #666666;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1, h2, h4, h5, h6 {
        margin: 0;
    }

    h1, h2 {
        color: #000;
    }

    &__inner {

    }

    &__wrapper {
        display: flex;
        justify-content: center;
        //position: relative;
        //top: 50%;
        //transform: translateY(-50%);
        flex-wrap: wrap;
    }

    &__card-wrapper {
        margin: 0 40px 0 40px;

        &--disabled {
            pointer-events: none;

            .cats__weight-wrapper {
                background-color: #b3b3b3;
            }

            .cats__card-main, .cats__card-main::after, .cats__card-header{
                border-color: #b3b3b3;
            }

            .cats__cat {
                opacity: 0.5;
            }

            .cats__card-top h1, .cats__card-top h2, .cats__card-details, .cats__card-header div {
                opacity: 0.2;
            }
        }
    }

    &__card {

    }

    &__card-main {
        position: relative;
        //background-image: url("../img/cardsBg/default.png");
        background-color: #F2F2F2;
        background-size: cover;
        height: 430px;
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 4px solid #1698d9;
        border-left: 4px solid #1698d9;
        border-right: 4px solid #1698d9;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        &::after {
            position: absolute;
            top: -45px;
            left: -4px;
            content: '';
            //z-index: -1;
            width: 45px;
            height: 45px;
            background-color: #f2f2f2;
            border-left: 4px solid #1698d9;
            transform-origin: bottom left;
            transform: skew(-45deg, 0deg);
        }
    }

    &__card-top {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 50px;
    }

    &__cat {
        background-image: url("../img/cat.svg");
    }

    &__header {
        margin: 0 0 30px 0;
        font-family: ExoThin, "Trebuchet MS", sans-serif;
        color: #ffffff;
        font-size: 36px;
        text-align: center;
    }

    &__card-header {
        height: 41px; //45
        font-size: 16px;
        margin: 0 0 0 45px;
        padding-left: 10px;
        line-height: 55px;
        //padding: 20px 0 0 5px;
        background-color: #F2F2F2;
        border-top: 4px solid #1698d9;
        border-right: 4px solid #1698d9;
        border-top-right-radius: 12px;
        position: relative;
        z-index: 1;
    }

    &__card-details {
        font-size: 14px;
    }

    &__description {
        font-size: 13px;
        color: #fff;
        text-align: center;
        margin-top: 16px;

        a {
            text-decoration: none;
            color: #1698d9;
            border-bottom: 1px dashed #1698d9;
            cursor: pointer;
        }

        &--yellow {
            color: #ffff66;
        }
    }

    &__cat {
        background-image: url("../img/cat.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 254px;
        height: 271px;
        border-bottom-left-radius: 15px;
    }

    &__card-bottom {
        position: absolute;
        bottom: -6px;
        left: 0;
        display: flex;
        //z-index: -1;
    }

    &__weight-wrapper {
        position: relative;
        top: 174px;
        right: 30px;
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: #1698d9;
        color: #fff;
        border-radius: 50%;
        line-height: 32px;
    }

    &__weight {
        font-size: 42px;
        padding-top: 12px;
    }
    
    &__weight-units {
        font-size: 21px;
    }

    h1 {
        font-size: 48px;
        margin-bottom: 1px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 14px;
    }

    @media only screen and (max-width: 1253px) {
        &__header {
            margin-top: 20px;
        }

        &__card-wrapper {
            margin-bottom: 30px;
        }
    }

    @media only screen and (max-width: 460px) {
        &__card-wrapper {
            margin: 0 0 30px 0;
        }

        &__card-main {
            width: 300px;
        }

        &__header {
            margin-top: 10px;
        }

        &__weight-wrapper {
            right: 40px;
        }
    }
}

// .cats__card-main
.cats__card--default-hover:hover .cats__card-header, .cats__card--default-hover:hover .cats__card-main, .cats__card--default-hover:hover .cats__card-main::after {
    border-color: #2ea8e6;
}
.cats__card--default-hover:hover .cats__weight-wrapper {
    background-color: #2ea8e6;
}

.cats__card--selected .cats__card-header, .cats__card--selected .cats__card-main, .cats__card--selected .cats__card-main::after {
    border-color: #d91667;
}
.cats__card--selected .cats__weight-wrapper {
    background-color: #d91667;
}

.cats__card--selectedHover .cats__card-header, .cats__card--selectedHover .cats__card-main, .cats__card--selectedHover .cats__card-main::after {
    border-color: #e62e7a;
}
.cats__card--selectedHover .cats__weight-wrapper {
    background-color: #e62e7a;
}