.cats {
    background-image: url("../img/bg.png");
    height: 100vh;
    color: #666666;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    h1, h2 {
        color: #000;
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    &__card-main {
        
    }

    &__card {
        position: relative;
        //background-image: url("../img/cardsBg/default.png");
        background-color: #F2F2F2;
        background-size: cover;
        height: 480px;
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 4px solid #1698d9;
        border-left: 4px solid #1698d9;
        border-right: 4px solid #1698d9;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        &::after {
            position: absolute;
            top: -45px;
            left: -4px;
            content: '';
            z-index: -1;
            width: 45px;
            height: 45px;
            background-color: #f2f2f2;
            border-left: 4px solid #1698d9;
            transform-origin: bottom left;
            transform: skew(-45deg, 0deg);
        }

        //&--default-hover:hover {
        //    //background-image: url("../img/cardsBg/defaultHover.png");
        //    border-color: #2ea8e6;
        //}
        //
        //&--selected {
        //    //background-image: url("../img/cardsBg/selected.png");
        //    border-color: #d91667;
        //}
        //
        //&--selectedHover {
        //    //background-image: url("../img/cardsBg/selectedHover.png");
        //    border-color: #e62e7a;
        //}
    }

    &__card-top {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 50px;
    }

    &__cat {
        background-image: url("../img/cat.svg");
    }

    &__header {
        margin-top: 0;
        font-family: ExoThin, "Trebuchet MS", sans-serif;
        color: #ffffff;
        font-size: 36px;
        text-align: center;
    }

    &__card-header {
        height: 41px; //45
        font-size: 16px;
        margin: 0 0 0 45px;
        //padding: 20px 0 0 5px;
        background-color: #F2F2F2;
        border-top: 4px solid #1698d9;
        border-right: 4px solid #1698d9;
        border-top-right-radius: 12px;
    }

    &__card-details {
        font-size: 14px;
    }

    &__description {
        font-size: 13px;
        color: #fff;
        text-align: center;
        margin-top: 16px;

        a {
            text-decoration: none;
            color: #1698d9;
            border-bottom: 1px dashed #1698d9;
            cursor: pointer;
        }
    }

    &__cat {
        background-image: url("../img/cat.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 254px;
        height: 271px;
    }

    &__card-bottom {
        position: absolute;
        bottom: -15px;
        left: 4px;
        display: flex;
    }

    &__weight-wrapper {
        position: relative;
        top: 160px;
        right: 30px;
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: #1698d9;
        color: #fff;
        border-radius: 50%;
        line-height: 32px;
    }

    &__weight {
        font-size: 42px;
        padding-top: 12px;
    }
    
    &__weight-units {
        font-size: 21px;
    }

    h1 {
        font-size: 48px;
        margin-bottom: 1px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 14px;
    }
}


//.cats__card-main:hover .cats__weight-wrapper {
//    background-color: #2ea8e6;
//}
//
//.cats__card--selected .cats__weight-wrapper { // bright pink when first selected
//    background-color: #d91667;
//}
//
//.cats__card--selected:hover .cats__weight-wrapper { // bright pink when mouse in
//    background-color: #d91667;
//}
//
//.cats__card--selectedHover .cats__weight-wrapper { // pale pink when mouse out
//    background-color: #e62e7a;
//}
//
//.cats__card-main:hover .cats__card-header {
//    border-color: #2ea8e6;
//}
//
//.cats__card--selected .cats__card-header { // bright pink when first selected
//    border-color: #d91667;
//}



// .cats__card-main
.cats__card-main--default-hover:hover .cats__card-header, .cats__card-main--default-hover:hover .cats__card, .cats__card-main--default-hover:hover .cats__card::after {
    border-color: #2ea8e6;
}
.cats__card-main--default-hover:hover .cats__weight-wrapper {
    background-color: #2ea8e6;
}

.cats__card-main--selected .cats__card-header, .cats__card-main--selected .cats__card, .cats__card-main--selected .cats__card::after {
    border-color: #d91667;
}
.cats__card-main--selected .cats__weight-wrapper {
    background-color: #d91667;
}

.cats__card-main--selectedHover .cats__card-header, .cats__card-main--selectedHover .cats__card, .cats__card-main--selectedHover .cats__card::after {
    border-color: #e62e7a;
}
.cats__card-main--selectedHover .cats__weight-wrapper {
    background-color: #e62e7a;
}