@import "cats";

body {
    margin: 0;
}

@font-face {
    font-family: ExoThin;
    src: url("fonts/Exo2.0-Thin.otf");
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
